<!-- Contact -->
<div id="contact" class="offset">
        <div class="container-fluid footer">
            <div class="row pt-4 pb-5 justify-content-center">
                <div class="col-sm-11 col-md-9 col-lg-6 text-light text-center">
                    <img src="https://img.icons8.com/color/48/000000/animal-shelter.png" alt="" class="my-5"/>
                    <p>Customer Service Guranteed!</p>
                    <ul class="social pt-3">
                        <li><a href="#" target="_blank"><img src="https://img.icons8.com/fluent/48/000000/facebook-new.png"/></a></li>
                        <li><a href="#" target="_blank"><img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/></a></li>
                        <li><a href="#" target="_blank"><img src="https://img.icons8.com/nolan/64/twitter-squared.png"/></a></li>
                    </ul>
                </div>
                <hr class="socket w-100 mt-5">
                <p class="mb-0 text-light">Copyright &copy; WALKE All Rights Reserved 2020.</p>
            </div>
        </div>
    </div>
    </div>