<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WALKE</title>
    <link rel="stylesheet" type="text/css" href="/assets/walke.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">

</head>
<body>
    {{{ body }}}


<script type="text/javascript" src="/assets/js/walke.js"></script>
</body>
</html>