<h1>Hi <%= name %></h1>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>

<header>
  <img src="/assets/img/background.JPG" class="banner">
  <a href="" class="logo"><img src=""></a>
  <nav>
      <ul>
          <li><a href="#" class="active">Home</a></li>
          <li><a href="#" class="active">About</a></li>
          <li><a href="#" class="active">Services</a></li>
          <li><a href="#" class="active">How It Works</a></li>
          <li><a href="/login" class="active">Log In</a></li>
      </ul>
  </nav>
</header>

<section>
  <div class="container">
      <div class="card">
          <div class="face face1">
              <div class="content">
                  <img src="/assets/img/homeowner.jpg">
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <h3>Pet Owner</h3>
                  <p>Find someone to look after your pets!</p>
              </div>
          </div>
      </div>
      <div class="face face1">
              <div class="content">
                  <img src="/assets/img/petsitter.jpg">
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <h3>Pet Sitter</h3>
                  <p>A community of local pet sitters keeping pets happy at home and stress free!</p>
              </div>
          </div>
      </div>
  </div>
</section>