
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');


body {
    margin: 0;
    padding: 0;
    min-height: 1000px;
    padding-top: 100px;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: white;
    transition: 1s;
    padding: 0 100px;
    box-sizing: border-box;
}

header.scrolled {
    height: 100px;
}

header .logo {
    position: absolute;
    top: calc(50% - 0px);
    left: calc(50% - 0px);
    transition: 1s;
}

header.scrolled .logo {
    position: relative;
    top: 10px;
    left: 0;
}

header img.banner {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: 1s;
}

header.scrolled img.banner {
    opacity: 0;
}

header .logo img {
    width: 300px;
    transition: 1s;
}

header.scrolled .logo img {
    width: 80px;
    font-family: 'Libre Baskerville', serif;

}

nav {
    position: relative;
    float: right;
}

nav ul {
    position: relative;
    margin: 0;
    padding: 40px 0;
    display: flex;
    transition: 1s;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100px);
}

header.scrolled nav ul {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    font-family: 'Libre Baskerville', serif;

}

nav ul li a.active {
    background: white;
    color: #262626;
} 

/* Section owner&petsitter*/
section {
    position: relative;
    min-height: 100vh;
    background:#fee648;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container .card {
    position: relative;
    width: 300px;
    height: 200px;
}

.container .card .face {
    transition: 0.5s;
}

.container .card .face.face1 {
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform-origin: bottom;
}

.container .card .face.face1 img {
    max-width: 100px;
}

.container .card .face.face1 h3 {
    margin: 10px 0 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Libre Baskerville', serif;

}

.container .card:hover .face.face1 {
    transform: translateY(-100%) rotateX(90deg);
    background: #ff0057;   
}

.container .card .face.face2 {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transform-origin: top;
    transform: translateY(100%) rotateX(90deg);
}

.container .card:hover .face.face2 {
    transform: translateY(0%) rotateX(0deg);
}

/* Login Register*/
section {
    position: relative;
    min-height: 100vh;
    background: #fee648;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container1 {
    position: relative;
    width: 800px;
    height: 500px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    overflow: hidden;
}

.container1 .user {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.container1 .user .imgBx {
    position: relative;
    width: 50%;
    height: 100%;
    background: #ff0;
    transition: 0.5s;
}

.container1 .user .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container1 .user .formBx {
    position: relative;
    width: 50%;
    height: 100%;
    padding: 40px 40px 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: 0.5s;
    font-family: 'Libre Baskerville', serif;

    
}

.container1 .user .formBx form h2 {
    color: #555;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: #555;
    font-family: 'Libre Baskerville', serif;

}

.container1 .user .formBx form input {
    position: relative;
    width: 100%;
    padding: 10px;
    background: #f5f5f5;
    color: #333;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
    font-family: 'Libre Baskerville', serif;

}

.container1 .user .formBx form input[type="submit"] {
    max-width: 100px;
    background: #677eff;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
    font-family: 'Libre Baskerville', serif;

}

.container1 .user .formBx form .signup {
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #555;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Libre Baskerville', serif;

}

.container1 .user .formBx form .signup a {
    font-weight: 600;
    text-decoration: none;
    color: #677eff;
    font-family: 'Libre Baskerville', serif;

}

.container1 .signupBx {
    pointer-events: none;
}

.container1.active .signupBx {
    pointer-events: initial;
}

.container1 .signupBx .formBx {
    left: 100%;
}

.container1.active .signupBx .formBx {
    left: 100%;
}

.container1 .signupBx .imgBx {
    left: -100%;
}

.container1.active .signupBx .imgBx {
    left: 0;
}

.container1 .signInBx .formBx {
    left: 0;
}

.container1.active .signInBx .formBx {
    left: 100%;
}

.container1 .signInBx .imgBx {
    left: 0;
}

.container1.active .signinBx .imgBx {
    left: -100%;
}

/* .forget {
    margin-top: 30px;
    color: #555;
}

.forget a {
    color: #ff0047;
} */

/* Media Query */

@media (max-width: 991px) {
    section .container1 {
        max-width: 400px;
    }
    section .container1 .imgbx {
        display: none;
    }
    section .container .user .formBx {
        width: 100%;
    }
}